.Landing {
  background-color: #fcd411;
}

.landingBtn {
  width: 100vw;
}

.LogInBtn {
  background-color: white;
  border-radius: 50px;
  height: 60px;
  width: 90vw;
}

.SignUpBtn {
  background-color: rgb(63, 63, 63);
  color: white;
  border-radius: 50px;
  height: 60px;
  width: 90vw;
}
