.Search {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.SearchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
  background-color: white;
  width: 90vw;
}

i {
  color: #fcd411;
}

input:focus {
  border-bottom: 1px solid #fcd411 !important;
  box-shadow: none !important;
}
